@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Teste AppCore</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">criando aplicativos Web com ASP.NET Core</a>.</p>
</div>
